# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.directory

# Latex
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.mtc*
*.mtc
*.maf


# Java
**/.gradle/
**/.settings/
*.class
**/bin/
**/build/
!property-checker/checker-framework/bin/

# Checker
property-checker-temp/
property-checker-out/
**/property-checker.jar
flowdot/